.container {
  position: relative;
}

.display {
  background: #2a2a2a;
  color: white;
  border: 1px solid #3a3a3a;
  padding: 0.35rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;

  display: flex;            /* NEW */
  align-items: center;      /* NEW */
  gap: 0.4rem;              /* NEW */
}

.display:hover {
  background: #333333;
}

.currentFontColor {
  /* width: 14px; */
  /* height: 14px; */
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

/* .currentSwatch {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #555;
} */

.arrow {
  margin-left: 0.2rem;
}

.dropdown {
  position: absolute;
  top: 2.2rem;
  left: 0;
  background: #1e1e1e;
  border: 1px solid #3a3a3a;
  border-radius: 6px;
  padding: 0.4rem;
  z-index: 20;
  width: 150px;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
  color: white;
}

.option:hover {
  background: #333333;
}

.swatch {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #555;
}