/* Reset + box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** ROOT DEFAULT **/
:root {
  /* ! ----------- ! */
  /** CSS VARIABLES **/
  /* ! ----------- ! */

  /* Universal Variables */
  --background-main: rgba(46, 45, 45, 1);
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-main: rgba(255, 255, 255, 1);

  /* --font-size-main: clamp(1rem, 2vw, 2rem); */
  --font-size-main: var(--font-size-navbar);
  --padding-x-main: clamp(1rem, 15vw, 25rem);

  --width-main: 75%;
  /* Component Specific Variables */
  --width-navbar: var(--width-main);
  --padding-x-navbar: var(--padding-x-main);
  --font-size-navbar: clamp(1rem, 2vw, 2rem);
  --height-navbar: clamp(1rem, 10dvh, 10rem);

  /* Element Specific Variables */
  --list-padding-left-default: 1rem;

  /** Z INDEX VALUES **/

  --z-base: 0;
  --z-navbar: 10;

  /* ! ----------- ! */
  /** END CSS VARIABLES **/
  /* ! ----------- ! */

  font-family: var(--font-main);
  font-size: 16px;
  background-color: var(--background-main);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-main);
}

/** GLOBAL ELEMENT STYLING **/

/* Remove default button/input styles without breaking usability */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/** SLATE SPECIFIC STYLING **/

/* Prevents Slate Editors from inheriting weird outlines */
[data-slate-editor="true"]:focus {
  outline: none;
}

/* Moves bullets to top of list item for Slate Lists */
[data-slate-editor="true"] li [data-slate-node="text"] {
  vertical-align: top;
}
