/* Reset + box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root defaults */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color: #222; */
  background-color: #2e2d2d;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Body layout */
body {
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}

/* Remove default button/input styles without breaking usability */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Links (not required yet, but safe defaults) */
a {
  color: inherit;
  text-decoration: none;
}

/* Prevent contentEditable from inheriting weird outlines */
[contenteditable]:focus {
  outline: none;
}

ul, ol {
  padding-left: 1.25rem;
}

h2 {
  /* font-size: inherit; */
}