.toolbarContainer {
  position: fixed;
  height: var(--height-toolbar);
  width: 100%;

  color: var(--color-main);
  background-color: var(--background-toolbar);

  z-index: var(--z-sticky);
}

.toolbarContent {
  display: flex;
  flex-direction: column;
  padding: 0 7.5vw;
}

.homeLink {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
}

.richTextToolbarContainer {
  height: calc(var(--height-toolbar) / 2);
  width: 100%;
}

.richTextToolbarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.5vh;
}

.topBarContainer {
  height: calc(var(--height-toolbar) / 2);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumeTitle {
  /* width: fit-content; */
  /* margin: auto 15% auto 10%; */
}

.saveCopyPrintButtonsWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.dropdownContainer {
  padding: 0.25em 1em;
  background-color: var(--background-main);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-main);
  position: absolute;
  padding: 0;
  margin-top: 1rem;
  z-index: var(--z-dropdown);
}

.dropdownOption {
  background-color: var(--background-main);
  border-radius: var(--border-radius-main);
  padding: 0.5em 1em;
}
.dropdownOption:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.tooltip {
  position: fixed;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 4px 8px;
  border-radius: 4px;
  background: #222;
  color: #fff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
  pointer-events: none;
}

@media print {
  .tooltip {
    display: none;
  }
}

  @media (max-width: 768px) {
    .toolbarContainer {
      height: fit-content;
   }
   .toolbarContent {
       gap: 0.5rem;
      padding: 0 0.5rem;
    }
    .homeLink {
      top: 0;
      left: 0;
      position: relative;
      font-size: 1.5rem;
    }

    .richTextToolbarContainer {
      height: fit-content;
      width: 100%;
    }
    .richTextToolbarWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.1rem;
    }
    .topBarContainer {
      width: 100%;
      gap: 0.5rem;
    }
    .topBarContainer .buttonMain {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      width: fit-content;
    }
 

    .resumeTitle {
      /* max-width: 50%; */
      max-width: max-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    .resumeTitle span {
      width: 100%;
    }

    .saveCopyPrintButtonsWrapper {
      gap: 0;
    }
    /* .resumeTitle { */
    /* margin: auto 5% auto 5%; */
    /* } */
}
