.toolbarContainer {
  position: fixed;
  height: var(--height-toolbar);
  width: 100%;

  color: var(--color-main);
  background-color: var(--background-toolbar);

  z-index: var(--z-sticky);
}

.toolbarContent {
  display: flex;
  flex-direction: column;
  padding: 0 7.5vw;

}

.homeLink {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
}
