.wrapper {
  display: flex;
  justify-content: center;
  margin-top: calc(10vh + 1.5rem); /* toolbar height + gap */
  width: 100%;
  align-items: center;
  overflow: visible;
}

.paper {
  height: 85vh;
  /* width: 640px;        real letter width */
  /* width: auto; */
  aspect-ratio: 8.5 / 11;
  background: white;
  /* border: 1px solid #d3d3d3; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* padding: 2rem; */ /* For keeping page content away from edge of page*/
  box-sizing: border-box;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem; /* Originally in .paper class (above).  For keeping page content away from edge of page*/
  /* gap: 0.5rem; Gap/spacing between sections */
}
