.authContainer {
  height: 100%;
  width: 100%;
  position: relative;
  padding-inline: var(--padding-x-main);

  background-image: url("@/assets/backgrounds/signUpLoginBackground.png");
  background-size: cover;
  background-position-y: 30%;
}

.authContent {
  position: relative;
  height: 35rem;
  width: 80%;
  margin: auto;

  padding-top: calc(var(--height-navbar) + 7.5%);

  font-size: 1.5rem;
}

.authForm {
  position: relative;

  height: clamp(5rem, auto, 100%);
  width: clamp(1rem, 35rem, 100%);
  margin: auto;

  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  border-radius: 2.5rem;
}

.authItemRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authInput {
   padding: 0.25em 0.5em;
   font-size: 1.25rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.authInput:focus {
  outline: none;
}

.showPasswordWrapper {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  margin: 1em auto;
  width: fit-content;
  padding: 0.5em 2em;

  color: white;
  background-color: rgba(0, 123, 255, 0.8);
  border: 1px solid transparent;
  border-radius: 5vh;
  
  cursor: pointer;
}
