.toolbarContainer {
  display: flex;
  gap: 0.5vh;
  padding: 0.5vh;
  /* background: #f5f5f5; */
  /* border-bottom: 1px solid #ddd; */
}

.toolbarButton, .toolbarInput, .toolbarDropdownButton {
   background: #2a2a2a;
   color: white;
   border: none;
   font-size: 1.5vh;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #3a3a3a;
   border-radius: 0.5vh;
   padding: 0.5vh 1vh;
}

.toolbarInput {
  text-align: center;
  width: 4vh;
}

.toolbarDropdownContainer {
  position: relative;
  z-index: 999;
}

.dropdownPanel {
  position: absolute;
  top: 125%;
  left: 0;
  background: #222;
  border: 1px solid #444;
  border-radius: 0.5vh;
  padding: 0.75vh;
  display: grid;
  grid-template-columns: repeat(7, 2.5vh);
  gap: 0.75vh;
}

.colorSwatch {
  /* opacity: 50%; */
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 0.5vh;
  cursor: pointer;
  border: 1px solid #555;
}


.toolbarButton, .toolbarDropdownContainer, .toolbarDropdownButton {
   cursor: pointer;
}

.toolbarButton:hover, .toolbarDropdownContainer:hover, .toolbarDropdownOption:hover {
   background: #333333;
}

.active {
  background: #333;
  color: white;
  border-color: #333;
}