.toolbarContainer {
  display: flex;
  gap: 0.5vh;
  padding: 0.5vh;
}

.toolbarLabelSpan {
  align-self: center;
}

.toolBarButtonInputWrapper {
  display: flex;
  gap: 0.5vh;
}

.toolbarDropdownOption:hover {
   background: #333333;
}

.active {
  background: #333;
  color: white;
  border-color: #333;
}