.container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.button {
  background: #2a2a2a;
  color: white;
  border: 1px solid #3a3a3a;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.active {
  background: #444;
  border-color: #666;
}

.button:hover {
  background: #333333;
}