.toolbarContainerDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 6vh;
  background: #1e1e1e;
  color: white;

  display: flex;
  align-items: center;
  padding: 0 1.5vh;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 1.5vh;
}

.addSectionWrapperDiv {
  margin-left: auto;
}

.addSectionButton {
  background: #4a4a4a;
  color: white;
  /* padding: 8px 14px; */
  padding: 0.5vh 1vh;
  border-radius: 0.5vh;
  border: none;
  cursor: pointer;
  /* font-size: 14px; */
  /* width: 15vh; */
}

.addSectionButton:hover {
  background: #5a5a5a;
}

.dropdownMenu {
  position: absolute;
  right: 1.5vh;
  margin-top: 6px;
  /* background: white; */
  background: #4a4a4a;
  text-align: justify;
  /* border: 1px solid #ccc; */
  border-radius: 0.5vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  /* width: 180px; */
  width: 10%;
}

.dropdownItem {
  padding: 0.5vh 1vh;
  cursor: pointer;
}

.dropdownItem:hover {
  /* background: #f0f0f0; */
  background: #555;
}