.toolbar {
  height: 10vh;
  width: 100%;
  background-color: #1e1e1e;
  border-bottom: 1px solid #2a2a2a;

  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}