.homePageContainer {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding-inline: var(--main-padding-x);
  
  background-image: url("@/assets/backgrounds/resumeBuilderHeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-main);
  font-size: var(--font-size-main);

  z-index: var(--z-base);
}

/* Overlay */
.homePageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(15, 15, 15, 0.4),
    rgba(10, 10, 15, 0.6)
  );
}

.homePageContent {
  position: relative;
  padding-top: calc(var(--navbar-height) + 10rem);
  font-weight: 300;
}

.welcomeDiv {
  position: relative;
}

.welcomeH1, .welcomeH2, .tryDemoButton {
  font-weight: inherit;
}

.welcomeH1 {
  margin-bottom: 3rem;
}


.tryDemoButton {
  /* position: relative; */
  display: inline-block;
  margin-top: 5rem;
  padding: 1.5rem 5rem;
  
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5rem;
  
  background: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}
