.homePageContainer {
  min-height: 100%;
  width: 100%;
  position: relative;
  /* padding-inline: var(--padding-x-main); */
  
  background-image: url("@/assets/backgrounds/resumeBuilderHeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-main);
  font-size: var(--font-size-main);

  z-index: var(--z-base);
}

/* Overlay */
.homePageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(15, 15, 15, 0.4),
    rgba(10, 10, 15, 0.6)
  );
}

.homePageContent {
  width: var(--width-main);
  margin: auto;
  position: relative;
  padding-top: calc(var(--height-navbar) + 10rem);
  font-weight: 300;
}

.homeH2, .homeH3, .tryDemoButton {
  font-weight: inherit;
}

.homeH2 {
  margin-bottom: 2rem;
}


.tryDemoButton {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem 3rem;
  
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5rem;
  
  background: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}
