.homePageContainer {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-left: 30vh;
  padding-right: 30vh;
  background-image: url("../../assets/backgrounds/resumeBuilderHeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay */
.homePageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(15, 15, 15, 0.4),
    rgba(10, 10, 15, 0.6)
  );
  z-index: 0;
}

.homePageContent {
  position: relative;
  margin-top: 25vh;
  /* margin: 25vh 30vh auto 30vh; */
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  z-index: 1;
}

.welcomeDiv {
  margin-bottom: 5vh;
}

.welcomeH1, .welcomeH2, .welcomeP, .welcomeButton {
  font-weight: inherit;
}

.welcomeH1 {
  font-size: 5.5vh;
  margin-bottom: 2rem;
}

.welcomeH2 {
  font-size: 4vh;
}

.tryUsDiv {
  display: flex;
  /* margin-top: 5vh; */
  align-items: center;
  font-size: 2.5vh;
  font-weight: inherit;
}

.tryUsButton {
  padding: 1.5vh 5vh;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5vh;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tryUsP {
  /* background: rgba(255, 255, 255, 0.05); */
}
