.sectionContainerDiv {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 12px;
}

.sectionInput, .sectionTitle {
  /* font-size: 12px; */
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.25rem 0;
  outline: none;
  background: transparent;
  margin: auto;
  /* width: auto; */
  flex: 1;
}

.sectionTitle {
  font-size: 20px;
}

.sectionInput:focus, .sectionTitle:focus {
  border-bottom-color: #000;
}

.sectionDateRow {
  display: flex;
  gap: 1rem;
}

.sectionTextArea {
   width: 100%;
   /* font-size: 1rem; */
   border: 1px solid #ccc;
   border-radius: 4px;
   /* padding: 0.75rem; */
   /* min-height: 6rem; */
   resize: vertical;
   /* resize: auto; */
   outline: none;
   background: transparent;
}

.textarea:focus {
   border-color: #000;
}