.sectionContainerDiv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 12px;
}

.sectionContainerDiv:hover {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  outline-offset: 1rem;
}

.sectionInput, .sectionTitle {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0;
  outline: none;
  background: transparent;
  margin: auto;
  /* field-sizing: content; */
  flex: 1;
}

.sectionTitle {
  font-size: 20px;
}

.sectionInput:focus, .sectionTitle:focus {
  border-bottom-color: #000;
}

.subsectionWrapperDiv {
   display: flex;
   flex-wrap: wrap;
   flex: 1;
   justify-content: space-between;
}

.sectionDateRow {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
}

.sectionTextArea {
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
   outline: none;
   background: transparent;
}

.textarea:focus {
   border-color: #000;
}