.topBarContainer {
   height: calc(var(--height-toolbar) / 2);
   width: 100%;
}

.topBarRow {
   height: 100%;
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.topBarFlexWrapper {
   display: flex;
   gap: 1rem;
}



.topBarButton, .topBarInput, .dropdownContainer {
   padding: 0.25em 1em;
   background-color: var(--background-main);
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: var(--border-radius-main);
}

.topBarButton:hover, .topBarInput:hover {
   filter: brightness(1.1);
}

.dropdownContainer {
   position: absolute;
   padding: 0;
   margin-top: 1rem;
   z-index: var(--z-dropdown);
}

.dropdownMenuWrapper {
   display: flex;
   flex-direction: column;
   /* gap: 0.5em; */
   /* padding: 0.75em 1.5em; */
}

.dropdownOption {
   background-color: var(--background-main);
   border-radius: var(--border-radius-main);
   padding: 0.5em 1em;
}
.dropdownOption:hover {
   cursor: pointer;
   filter: brightness(1.1);
}