.printPageRef {
  position: relative;
  margin: auto;
  height: 7.7in;
  width: 5.95in;
  /* height: 11in; */
  /* width: 8.5in; */
}

.editingPageContainer,
.printingPageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;

  display: flex;
  word-break: break-word;
  
  z-index: var(--z-main);
  top: calc(var(--height-toolbar) + 5rem);
}

.editingPageContainer {
  /* scale: 0.7; */
}

.printingPageContainer {
  /* scale: 1.099; */
  scale: 1.575;
  transform: translateY(2.625vh);
}

.columnWrapperDiv {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* * PAPER PADDING COMPONENT STYLING * */

.paddingContainer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.paddingButtonWrapper {
  display: flex;
  flex-direction: column;
  color: black;
}

.paddingButton {
  color: black;
  pointer-events: auto;

}

.paddingLeftWrapper,
.paddingRightWrapper,
.paddingTopWrapper,
.paddingBottomWrapper {
  position: absolute;
  display: flex;
  color: white;
}

.paddingLeftWrapper,
.paddingRightWrapper {
  top: -25px;
}

.paddingLeftWrapper {
  left: 0;
}

.paddingRightWrapper {
  right: 0;
}

.paddingTopWrapper,
.paddingBottomWrapper {
  left: -150px;
}

.paddingBottomWrapper {
  bottom: 0;
}

.paddingLeftWrapper,
.paddingRightWrapper,
.paddingTopWrapper,
.paddingBottomWrapper {
  position: absolute;
  display: flex;
  color: white;
  z-index: 2;
}



.marginsContainer {
  position: absolute;
  top: calc(var(--height-toolbar));
  width: 100%;
  /* margin: auto; */
  color: white;
  z-index: var(--z-sticky);
  
}

.marginTopWrapper {
  position: relative;
  height: 1rem;
  width: 5.95in;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: grey;

}

.marginSpan {
  /* position: absolute; */
  font-size: 0.5rem;
  width: 0px;
  transform: translateX(-.15rem);
  /* margin-right: 0.5rem; */
  /* position: absolute; */
  /* width: 0; */
}

.hiddenMarginSpan {
  height: 0.25rem;
  width: 0;
  border-left: 0.1px solid rgba(0, 0, 0, 0.25)

}

.marginIndicatorLeft, .marginIndicatorRight {
  position: absolute;
  height: 100%;
  width: 0px;
  z-index: var(--z-sticky);
  /* border-bottom: 1px solid red; */
  width: 3px;
  background: red;
  cursor: pointer;

}

.marginIndicatorLeft {
  left: 0;
  /* border-left: 1px solid red; */

}
.marginIndicatorLeft:hover {
}

.marginIndicatorRight {
  right: 0;

}