.pageContainerDiv {
  position: relative;
  display: flex;
  margin: 15vh auto 4vh auto;
  height: 47.5rem;
  width: auto;
  word-break: break-word;
  aspect-ratio: 8.5/11;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* max-height: 50rem; */
  /* overflow-wrap: break-word; */
}

.columnWrapperDiv {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* * PAPER PADDING COMPONENT STYLING * */

.paddingContainer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.paddingButtonWrapper {
   display: flex;
   flex-direction: column;
   color: black;
}

.paddingButton {
   color: black;
}

.paddingLeftWrapper,
.paddingRightWrapper,
.paddingTopWrapper,
.paddingBottomWrapper {
   position: absolute;
   display: flex;
   color: white;
}

.paddingLeftWrapper,
.paddingRightWrapper {
   top: -25px;
}

.paddingLeftWrapper {
   left: 0;
}
.paddingLeftSpan {
   /* border-left: 1px solid red; */
   /* border-inline-start: 10px; */
}


.paddingRightWrapper {
  right: 0;
}

.paddingTopWrapper, .paddingBottomWrapper {
   left: -150px;
}

.paddingBottomWrapper {
  bottom: 0;
}
