.sectionContainerDiv {
  position: relative;
  height: min-content;
}

.sectionContainerDiv:hover, .activeSectionContainer {
  outline: 1px solid;
  outline-offset: -2px;
  border-radius: 2.5px;
}

.sectionContentWrapper:hover {
  opacity: 0.8;
}

.sectionContainerDiv:hover .sectionSettingsButton {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.sectionSettingsButton {
  position: absolute;
  opacity: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease;
  z-index: 20;
}

.sectionSettingsButtonIcon {
  font-size: 24px;
}

/** SECTION PADDING **/

.sectionContainerDiv:hover .sectionPaddingContainer {
  visibility: visible;
}

.sectionPaddingContainer {
  visibility: hidden;
  /* opacity: 0; */
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}



.sectionPaddingTopWrapper,
.sectionPaddingBottomWrapper,
.sectionPaddingLeftWrapper,
.sectionPaddingRightWrapper {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  /* background: rgba(150, 150, 150, 1); */
  /* outline: 1px solid rgba(255, 255, 255, 0.9); */
  outline: 3px solid yellow;
  /* border-radius: 25px; */
  /* padding: 5px 10px; */
  max-width: max-content;
  z-index: 100;
}

.sectionPaddingTopWrapper,
.sectionPaddingBottomWrapper {
  height: 2.5rem;
  width: 100%;
  justify-content: center;
}

.sectionPaddingLeftWrapper,
.sectionPaddingRightWrapper {
  /* height: 2.5rem; */
  height: 100%;
  align-items: center;
}

.sectionPaddingTopWrapper {
  top: -25px;
}

.sectionPaddingBottomWrapper {
  bottom: -35px;
}

.sectionPaddingLeftWrapper {
  left: -150px;
}

.sectionPaddingRightWrapper {
  right: -150px;
}

.sectionPaddingButton {
  position: relative;
  height: 20px;
  width: 25px;
  z-index: 100;
}


.flexBreak {
  flex-basis: 100%;
  width: 0;
  height: 0;
}