.settingsModalOverlayDiv {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0);
   z-index: 998;
}

.settingsModalContainerDiv {
   position: absolute;
   flex-direction: column;
   width: max-content;
   padding: 0.5vh;
   line-height: 1.2;
   border: 1px solid #444;
   border-radius: 0.5vh;
   left: 101%;
   right: -35px;
   background: #222;
   z-index: 999;
}

.settingsModalRow {
   display: flex;
   justify-content: space-between;
   gap: 0.5vh;
   align-items: center;
   margin-bottom: 0.5vh;
}

.settingsModalLabel {
   color: white;
   font-size: 1.5vh;
   display: flex;
   margin-right: 1vh;
}

.settingsModalInput {
   text-align: center;
   min-width: 4vh;
   max-width: 6vh;
   width: max-content;
}

.settingsModalInputSpan {
   position: absolute;
   color: white;
   right: 1.25vh;
}

.settingsModalSectionTitle {
   color: white;
   font-size: 1.75vh;
   font-weight: bold;
   margin-bottom: 0.5vh;
}
.settingsModalButton,
.settingsModalInput,
.settingsModalDropdownButton {
   background: #222;

   color: white;
   border: none;
   font-size: 1.5vh;
   border: 1px solid #3a3a3a;
   border-radius: 0.5vh;
   padding: 0.5vh 1vh;
}

.settingsModalDropdownContainerDiv {
   position: relative;
   z-index: 999;
}

.settingsModalDropdownPanel {
   top: 0;
   left: 100%;
   color: white;
   border-radius: 0.5vh;
   margin-left: 0.5vh;
   gap: 0.75vh;
}

.settingsModalOption {
   padding: 0.5vh;
   width: max-content;
   border-radius: 0.5vh;
   cursor: pointer;
   border: 1px solid #555;
}

.settingsModalOption:hover {
   background: #333;
}

.settingsModalButton,
.settingsModalDropdownContainerDiv,
.settingsModalDropdownButton {
   cursor: pointer;
}

.active {
   background: #333;
   color: white;
   border-color: #333;
}