.section {
  /* min-height: 1.2rem; */
  /* padding: 0.25rem; */
  /* padding: 2rem; */
  /* background-color: black; */
  outline: none;
  border-radius: 6px;
  transition: border 0.15s ease;
  background-color: #ffffff;
}

.section ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 40px;  /* default for html unordered lists */
}

.section:hover {
  border: 1px solid black;
}

.section:focus {
  border: 1px solid black;
}

.dragOver {
  border: 2px dashed #555;
  background: #f5f5f5;
}

.sectionWrapper {
  position: relative;
  width: 100%;
  margin-left: -2rem;
  /* margin-right: -1rem; */
  padding: 0rem 2rem;
  background-color: #ffffff;
  
  /* background-color: red; */
}

.deleteButton  {
  opacity: 0;
  position: absolute;
  right: -28px;
  /* top: 4px; */
  background: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.15s ease;
}

.sectionWrapper:hover .deleteButton {
  opacity: 1;
}