.sectionContainerDiv {
   position: relative;
   height: min-content;
}

.sectionPseudoContainerDiv {
   position: absolute;
   border: 1px solid transparent;
   width: 98%;
   /* height: calc(100% + 5px); */
   margin: -0.5% 0 0 -7%;
   /* margin-left: -4%; */
   pointer-events: none;
   z-index: 10;
   /* padding: auto; */
   /* margin: 0 -5% 0 auto; */
}

.sectionContainerDiv:hover .sectionPseudoContainerDiv {
   border: 2px solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.sectionContainerDiv:hover .sectionSettingsButton {
   opacity: 1;
   transition: opacity 0.1s ease;
}

.sectionSettingsButton{
   position: absolute;
   opacity: 0;
   /* top: calc(50% - 15px); */
   right: -35px;
   background: none;
   border: none;
   cursor: pointer;
   transition: opacity 0.1s ease;
   z-index: 20;
}

.sectionSettingsButtonIcon {
   font-size: 24px;
}