.pageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: calc(10vh + 1.5rem);
  align-items: center;
  overflow: visible;
}

.page {
  width: 8.5in;
  height: 11in;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  /* border-bottom: dashed red; */
}

.pageContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;
}

.pageBreakIndicator {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-bottom: 4px dashed rgba(0, 0, 0, 0.35);
  /* background: rgba(0, 0, 0, 0.2); */
  pointer-events: none;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

