.pageWrapper {
  display: flex;
  justify-content: center;
  margin-top: calc(10vh + 1.5rem);
  align-items: center;
  overflow: visible;
}

.page {
  width: 8.5in;
  height: 11in;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}

.pageContentWrapper {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;
}

