.pageContainerDiv {
   /* font-size: inherit; */
   /* display: flex; */
   /* flex-direction: column; */
   margin: 10vh auto 4vh auto;
   height: 50rem;
   /* max-height: 50rem; */
   width: auto;
   /* overflow-wrap: break-word; */
   word-break: break-word;
   aspect-ratio: 8.5/11;

   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.columnWrapperDiv {
   height: 100%;
   display: flex;
   flex-direction: column;
   flex: 1;
}