
.accountSettingsH2 {
   margin-top: 0.75em;
}

.accountSettingsForm {
   display: flex;
   flex-direction: column;
   margin-top: 2.5em;
   gap: 1em;
   width: 50%;
}

.accountSettingsInput {
   color: black;
   padding: 0.5em;
   border: 1px solid transparent;
   border-radius: 5vh;
}

.accountSettingsInput:focus {
   outline: none;
}

.accountSubmitButton {
   min-width: 15rem;
   width: 30%;
   margin-top: 3rem;
   padding: 1em;
   border: 1px solid transparent;
   border-radius: 5rem;
   background-color: rgba(0, 120, 255, 1);
   color: white;
   font-weight: bold;
   cursor: pointer;
}

