.accountContainer {
   position: relative;
   min-height: 100%;
   width: 100%;

   display: flex;
   flex-direction: column;
   
   color: var(--color-main);
   background-color: rgba(0, 0, 0, 0.7);
}

.navLinksWrapper {
   position: relative;
   width: clamp(10rem, 80rem, var(--width-main));
   margin: 1rem auto 0 auto;

   font-size: 2rem;
}

.accountContent {
   position: relative;
   height: 50rem;
   width: clamp(10rem, 80rem, var(--width-main));
   margin: auto;
}

.accountHome {
   height: 20rem;
   width: 100%;
   margin: 9rem auto auto auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

.accountOutletWrapper, .accountTab, .logoutTab {
   background-color: rgba(25, 25, 25, 1);
}

.accountTabsWrapper {
   display: flex;
   gap: 1rem;
}

.accountTab, .logoutTab {
   position: relative;
   padding: 0.5em 1em;
   top: 0.1em;
   
   font-size: 1.25rem;

   border-top-left-radius: 0.5em;
   border-top-right-radius: 0.5em;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-bottom: none;
   /* box-shadow: 0 0 2px rgba(255, 255, 255, 0.25); */
}

.logoutTab {
   margin-left: auto;
}

.accountOutletWrapper {
   height: 45rem;
   padding-bottom: 3rem;
}

.accountOutletWrapper {
   min-height: 25rem;
   padding: 2rem;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 1.5rem;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   /* box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); */
}

/* 
.accountSettingsH2 {
   margin-top: 0.75em;
}

.accountSettingsForm {
   display: flex;
   flex-direction: column;
   margin-top: 2.5em;
   gap: 1em;
   width: 50%;
}

.accountSettingsInput {
   color: black;
   padding: 0.5em;
   border: 1px solid transparent;
   border-radius: 5vh;
}

.accountSettingsInput:focus {
   outline: none;
}

.accountSubmitButton {
   min-width: 15rem;
   width: 30%;
   margin-top: 3rem;
   padding: 1em;
   border: 1px solid transparent;
   border-radius: 5rem;
   background-color: rgba(0, 120, 255, 1);
   color: white;
   font-weight: bold;
   cursor: pointer;
}
 */




/* 
.accountOutlineWrapper {
   padding: 10vh 5vh 0 5vh;
   background-color: rgba(25, 25, 25, 1);
}

.accountOutlineRow {
   display: flex;
   flex-direction: row;
   margin-bottom: 3vh;
} */