.outlineContainer {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 6vh;
  width: 42.5vh;
  height: 100vh;
  background: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  padding: 2.5vh;
  overflow-y: auto;
  font-family: sans-serif;
}

.title {
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 3vh;
  text-align: center;
}

.sectionBlock {
  margin-bottom: 3vh;
  background: #2a2a2a;
  border-radius: 0.75vh;
  padding: 1vh;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dragHandle {
  cursor: grab;
  padding: 0 1vh;
  font-size: 2.5vh;
  user-select: none;
}

.subsectionHeaderSpan {
  padding-left: 2vh;
  font-size: 2.25vh;
}

.dragHandle:active {
  cursor: grabbing;
}

.sectionTitle {
  flex: 1;
  font-size: 2.5vh;
  font-weight: 600;
  padding-left: 1vh;
}

.dropdownButton {
  background: none;
  border: none;
  color: white;
  font-size: 2.5vh;
  cursor: pointer;
}

.sectionContent {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}


.subsectionItem {
  /* display: flex; */
  /* align-items: flex-start; */
  gap: 1vh;
}

.subsectionFields {
  display: flex;
  flex-direction: column;
  gap: 0.75vh;
  flex: 1;
  margin-top: 1vh;
}

.subInput {
  background: #3a3a3a;
  border: 1px solid #555;
  color: white;
  padding: 0.75vh;
  border-radius: 0.5vh;
  font-size: 1.75vh;
}

.fieldInputRow {
  display: flex;
}

.fieldInputRow .deleteButton {
  margin-left: 1vh;
}

.subInput:focus {
  outline: none;
  border-color: #888;
}

.deleteButton {
  background: #552222;
  border: 1px solid #773333;
  color: white;
  padding: 0.5vh 1vh;
  border-radius: 0.5vh;
  cursor: pointer;
  font-size: 1.75vh;
  margin-left: 2vh;
}

.deleteButton:hover {
  background: #662222;
}

.addButton {
  background: none;
  border: none;
  color: #4da3ff;
  cursor: pointer;
  font-size: 2vh;
  text-align: left;
  padding-left: 3vh;
}

.addFieldButton {
  padding-left: 4vh;
}

.addButton:hover {
  text-decoration: underline;
}

.deleteSectionButton {
  background: #552222;
  border: 1px solid #773333;
  color: white;
  padding: 0.75vh 1.5vh;
  border-radius: 0.5vh;
  cursor: pointer;
  font-size: 2vh;
  width: fit-content;
  margin-left: 3vh;
}

.deleteSectionButton:hover {
  background: #662222;
}

.sectionRow {
  padding-left: 0vh;
}

.subsectionRow {
  padding-left: 1vh;
}

.fieldRow {
  padding-left: 1vh;
}