.richTextToolbarWrapper {
  display: flex;
  gap: 0.5vh;
  padding: 0.5vh;
  justify-content: center;
  /* margin-left: 15vh; */
}

.toolbarLabelSpan {
  align-self: center;
}

.toolBarButtonInputWrapper {
  display: flex;
  gap: 0.5vh;
}

.toolbarDropdownOption:hover {
   background: #333333;
}

.sectionRowLabel {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5vh;
}

.active {
  background: #333;
  color: white;
  border-color: #333;
}