#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

title {
  color: black
}

@media print {
  .page {
    transform: none !important;
    margin: 0 !important;
    box-shadow: none !important;
  }
}

