.navbarContainer {
  min-height: var(--height-navbar);
  /* height: auto; */
  width: 100%;

  /* padding-inline: var(--padding-x-navbar); */

  position: fixed;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;

  font-size: var(--font-size-navbar);

  color: var(--color-main);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );

  z-index: var(--z-navbar);
}

.navbarContent {
  width: var(--width-navbar);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbarGroup {
  gap: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.navbarLink,
.navbarLinkActive,
.navbarLink:hover {
  width: max-content;
  font-weight: lighter;
}
