.navbarContainer {
  min-height: var(--navbar-height);
  height: auto;
  width: 100%;

  padding-inline: var(--navbar-padding-x);

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: var(--font-size-main);

  color: var(--color-main);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );

  z-index: var(--z-navbar);
}

.navbarWrapper {
  gap: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.navbarLink,
.navbarLinkActive,
.navbarLink:hover {
  width: max-content;
  font-weight: lighter;
}